<!-- <%-- Header --%> -->

<%- include('./partials/header.ejs') %>

<h1>About Page</h1>
<!-- <%-- File --%>  -->
<%- include('./partials/navigation.ejs') %>

<!-- <%-- Footer --%>  -->
<%- include('./partials/footer.ejs') %>
